<div class="row">
  <div class="span10">
      <h1 class="header-text"> CSS Playground </h1>
  </div>
</div>
<div class="row">
  <div class="span10 well">
    <h2>Exercises</h2>
    <ol>
      <li>
        <a href="exercises/one.html"> Some HTML / CSS Basics </a>
      </li>
      <li>
        <a href="exercises/two.html">Getting Fancy</a>
      </li>
      <li>
        <a href="exercises/two.html">Getting A Bit Complicated</a>
      </li>
    </ol> 
  </div>
</div>