/* place your css here */

.nav.right{
	float:right;
	font:helvetica;
	font-weight:bold;
	font-size:18px;
	padding-top:10px;
}

#navigation_menu ul {
background-color:#d9d9d9;
height:40px;
width:100%;
margin:0px; 
padding:0px;
}

#navigation_menu ul li {
display:inline; 
height:20px; 
float:left; 
font-size:16px;
font-weight:bold;
list-style:none; 
padding:10px;
}
.hero-unit{
	font:helvetica;
	text-align:justify;
	
}
.hero-unit.right {
	background-color:#ffe3d1;
}
.hero-unit.right h3 {
	font-size:22px;
}
.hero-unit.right p{
	font-size:15px;
}
.hero-unit.left {
	background-color:transparent;
}