/* place your css here */

.nav{
	float:right;
	font:helvetica;
	font-weight:bold;
	font-size:18px;
	padding-top:10px;
}

#navigation_menu ul {
background-color:#d9d9d9;
height:40px;
width:100%;
margin:0px; 
padding:0px;
}

#navigation_menu ul li {
display:inline; 
height:20px; 
float:left; 
font-size:16px;
font-weight:bold;
list-style:none; 
padding:10px;
}
.content{
	font:helvetica;
	
}
.span5.offset1{
	background-color:#ffe3d1;
}
.span5.offset1 h3 {
	font-size:22px;
}
.span5.offset1 p{
	font-size:12px;
}
.span6 {
	background-color:transparent;
}
.span6 h2{
		font-size:22px;
}
.span6 p{
	font-size:15px;
}




