/* place your css here */

body {
  background: url("whitepaper.jpg");
}

h2 {
  background-color:#ecb6ad;
  color:#fff;
  font-family:"futura";
  font-weight:bold;
  text-transform:uppercase;
  padding:5px;
}

a:link {color:gray;}      
a:visited {color:gray;} 
a:hover {color:gray;} 
a:active {color:gray;}


p {
  background-color:#d9d9d9;
  font-family:"Courier New";
  font-size:14px;
  line-height:25px;
  padding:15px;
}

p2 {
  font-size:12px;
}

ul.horizontal {
  margin:0;
  padding:8px 0;
}

ul.horizontal li {
  display:block;
  float:left;
  padding:0 10px;
}

.nav {
  font-family:"Futura";
  font-size:14px;
  font-weight:bold;
  text-transform:uppercase; 
}

.bg {
  background-color:#e9e9e9;
  height:20px;
  width:100%;
}

.login-offset {
  padding-top:10px;
}

.container-offset {
  padding:100px 0 0 10px;
}

aside {
  background-color:#f6e2d1;
  padding:25px;
}
