/*
  Place all the styles related to exercise three here.
*/

/* Headers */

#exercise_three h1,
#exercise_three h2,
#exercise_three h3{
  text-transform: uppercase;
  margin:0;
  margin-bottom:20px;
  color: #1e5799;
}
#exercise_three h1.page_header{
  font-size:30px;
  line-height:30px;
}


/* Navigation Menus */

#exercise_three .navigation_menu{
  background: #1e5799; /* Old browsers */
  color:#fff;
  overflow:auto;
  -webkit-border-radius: 10px 0px 10px 0;
  -moz-border-radius: 10px 0px 10px 0;
  border-radius: 10px 0px 10px 0;
  box-shadow: 10px 10px .3;  

}
#exercise_three .navigation_menu ul{
  width:80%;
  margin:auto;
  overflow:auto;
  text-align: center;
}
#exercise_three ul.nav li {
  float:left;
  padding:10px;
  font-size:16px;
  font-weight:bold;
  width:20%;
  -webkit-border-radius: 10px 0px 10px 0;
  -moz-border-radius: 10px 0px 10px 0;
  border-radius: 10px 0px 10px 0;
  margin:10px;
  color:#fff;

}
#exercise_three ul.nav li a{
  color:#fff;
}
#exercise_three .navigation_menu ul.nav li.active,
#exercise_three .navigation_menu ul.nav li:hover {
  background: #7db9e8;
  color:#fff;
}
#exercise_three ul.nav li.active a,
#exercise_three ul.nav li:hover a{
  background-color: transparent;
}
#exercise_three .login {
  float:right;
  margin:-57px 0 20px
}



/* Aside */

#exercise_three aside {

  /* Gradiant from : http://www.colorzilla.com/gradient-editor/ */
  background: #d2ebf9; /* Old browsers */
  background: -moz-linear-gradient(top,  #d2ebf9 0%, #feffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2ebf9), color-stop(100%,#feffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d2ebf9 0%,#feffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d2ebf9 0%,#feffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d2ebf9 0%,#feffff 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #d2ebf9 0%,#feffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ebf9', endColorstr='#feffff',GradientType=0 ); /* IE6-9 */
  padding:20px;
  -webkit-border-radius: 10px 0px 10px 0;
  -moz-border-radius: 10px 0px 10px 0;
  border-radius: 10px 0px 10px 0;
}
#exercise_three aside img {
  margin:0 20px 20px 0;
  float:right;
  border:1px solid #000;

}



/* Main Content */
#exercise_three .content{
  margin-bottom: 40px;
}
#exercise_three .content img {
  margin:0 20px 20px 0;
  float:left;
  margin-left:-10px;
  border:1px solid #000;
  -ms-transform:rotate(-2deg); /* IE 9 */
  -moz-transform:rotate(-2deg); /* Firefox */
  -webkit-transform:rotate(-2deg); /* Safari and Chrome */
  -o-transform:rotate(-2deg); /* Opera */
  transform:rotate(-2deg);

}
#exercise_three .content p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom:20px;
}
#exercise_three .content p.attention_text {
  font-size:30px;
  line-height: 34px;
  font-weight: bold;
}