<%= stylesheet_link_tag    "four", :media => "all" %>

<div class="row">
  <div class="span12">
      <h1 class="header-text"> Getting A Bit Complicated </h1>
  </div>
</div>
<div class="row">
  <div class="span6 well">
    <h2>The Goal</h2>
    <p>Style the html (without changing the html at all) below to look like the following screen shot. When hovering over a navigation link (Homepage, About Us, Our Services), it should appear the same as the active link does in the screenshot. Exact colors are not required.  </p>
    <a href="/screenshot-three.png" target="new">
      <img src="/screenshot-three.png" width="100px" border="1px" />
      Screenshot Three
    </a> (opens in a new tab)
  </div>
</div>
<hr>

<!-- Work with the HTML below this line -->


<body>
  <div class="wrapper">
    <div class="navigation_menu">
      <ul class="nav">    
        <li>
          <a href="#" >Homepage</a>
        </li>
        <li class="active" >
          <a href="#">About Us</a>
        </li>
        <li>
          <a href="#">Our Services</a>
        </li>
      </ul>
    </div>
    <div class="login">
      <ul class="nav">
       <li>
        <a href="#">Login</a>
       </li>
      </ul>  
    </div>
    <div class="main-content">
      <h1 class="page_header">About Us</h1>
              <img class="image_left" src="//assets.starbucks.com/assets/43742c946e044977b5a9891e234e8eb9.jpg" alt="Store front of original Pike Place store" />
              <p class="attention_text">It happens millions of times each week – a customer receives a drink from a Starbucks barista – but each interaction is unique. </p>
  
              <p>It's just a moment in time - just one hand reaching over the counter to present a cup to another outstretched hand.</p>
              <p>But it's a connection.</p>
              <p>We make sure everything we do honors that connection - from our commitment to <a href="#" >the highest quality coffee</a> in the world, to the way we engage with our customers and communities <a href="#" >to do business responsibly</a>.</p>
              <p>From <a href="#" >our beginnings</a> as a single store over forty years ago, in every place that we've been, and every place that we touch, we've tried to make it a little better than we found it.</p>
              <P>From our beginning as a single store in Seattle’s Pike Place Market in 1971, we have sought to be a catalyst for positive change in the many communities we serve. Now, with more than 17,000 stores in more than 55 countries and a growing business in consumer packaged goods, we find our reach is greater than ever. Just as importantly, we continue to believe that the ultimate way to scale the power of our brand is to share the good we do and how we do it so that Starbucks and everyone we touch—from customers to coffee farmers—can thrive and endure.</P>
              <p>Throughout our more than 40-year journey, Starbucks has sought to find innovative and relevant solutions to the challenges we face as a company while respecting and bringing value to the <a href="#">communities we serve</a>.  Today we continue to strengthen and grow our business. Not only does our family of brands connect with people who visit our stores more than 60 million times each week, but also with customers in the grocery aisle, at home, and in the digital world. </p>
              <p>In 2011, Starbucks and our stakeholders continued to face pervasive global economic uncertainty and high global unemployment. As always, we seek to lead where we can - inviting other organizations to join us in efforts that can change entire industries, as well as neighborhoods. Time and time again, we have formed <a href="">partnerships</a> with like-minded organizations to help us magnify the moments of connection that remain at the foundation of our business.</p>
              <p>More than ten years ago, we turned to Conservation International to help us build our <a href="#">ethical sourcing</a> program. Now C.A.F.E. Practices is in its eighth year, and we are sourcing nearly 86 percent of our coffee in a way that promotes continue improvement in quality, productivity, environmental impact and transparency. </p>
              <p>As part of our ongoing commitment to <a href="#">environmental stewardship</a>, we have been a retail industry leader in green building, joining the USGBC in the year 2000 and working to create LEED for retail. In 2011 we began to roll out this new global approach across our portfolio and built 75 percent of our new company-owned stores to the LEED standard. No other company has taken LEED to scale like we are, but we hope that we can blaze a trail.</p>
              <p>Also in 2011, in celebration of our company's 40th anniversary, we actively worked with community changemakers, local leaders and organizations already making strides to improve opportunities and education. We will further explore this model in 2012 with two community stores in New York and Los Angeles</p>
              <p>While we know we are not perfect, and that the problems we seek to help solve are complex, we are committed to integrating our values into our company strategy, business practices and operations. Our ever-evolving business brings new challenges and opportunities, and we will continue to broaden the scope of our goals and reporting to include more global operations across the brands. </p>
    </div>
      <div class="aside-wrapper">
        <aside>
          <h3>Look Closer</h3>
                <p>At close inspection, the Starbucks logo makes no sense. At closer inspection, it makes even less sense, plus you risk dipping your nose in frap foam. There’s some lady with long hair wearing a crown and holding what appears to be two… giant salmon? Decapitated palm trees? Miniature sand worms from Beetlejuice?</p>
                <img src="http://images.mentalfloss.com/blogs/wp-content/uploads/2010/03/starbucks-logos.jpg" />
                <p>Conspiracy theorists have had a field day with the cryptic image. Anti-Semitic groups have claimed that the crowned maiden is the biblical Queen Esther, proving that Starbucks is behind various Zionist plots. Others see parallels to Illuminati imagery. The real story is less about evil conspiracies than prudish graphic design.</p>
                <p>Since Starbucks was named after a nautical character, the original Starbucks logo was designed to reflect the seductive imagery of the sea. An early creative partner dug through old marine archives until he found an image of a siren from a 16th century Nordic woodcut. She was bare-breasted, twin-tailed and simply screamed, “Buy coffee!”</p>
                <p>In the ensuing years, Starbucks marketing types decided to tastefully cover up the mer-boobs with long hair, drop the suggestive spread-eagle tail and give the 500-year-old sea witch a youthful facelift. The result? Queen Esther at Sea World.</p>
                <p>Read the full text here: 
                  <a href="http://www.mentalfloss.com/blogs/archives/51272#ixzz23or7mft5">http://www.mentalfloss.com/blogs/archives/51272#ixzz23or7mft5</a>
                  <em>--brought to you by mental_floss! </em>
                </p> 
      </div>
        <div class="footer-wrapper">
          <div class="navigation_menu">
            <ul class="nav">
              <li>
                <a href="#" >Homepage</a>
              </li>
              <li class="active" >
                <a href="#">About Us</a>
              </li>
              <li>
                <a href="#">Our Services</a>
              </li>
            </ul>
          </div>
          <div class="login">
            <ul class="nav">
              <li>
                <a href="#">Login</a>
              </li>
            </ul>  
          </div>
        </div>
      </div>

