<div class="row">
  <div class="span10">
      <h1 class="header-text"> Exercise One </h1>
  </div>
</div>
<div class="row">
  <div class="span10 well">
    <h2>The Goal</h2>
    <ol>
      <li>
        blah blah 
      </li>
    </ol> 
  </div>
</div>