<%= stylesheet_link_tag    "one", :media => "all" %>

<div class="row">
  <div class="span12">
      <h1 class="header-text"> Some HTML / CSS basics </h1>
  </div>
</div>
<div class="row">
  <div class="span6 well">
    <h2>The Goal</h2>
    <p>Style the html below to look like the following screen shot.  </p>
    <a href="/screenshot-one.png" target="new">
      <img src="/screenshot-one.png" width="100px" border="1px" />
      Screenshot One
    </a> (opens in a new tab)
  </div>
</div>
<hr>

<!-- Work with the HTML below this line -->

<div id="exercise_one" >
  
  <div class="row">
    <div class="span12">
      <div id="navigation_menu">
        <ul class="nav">
          
          <li>
            <a href="#">Homepage</a>
          </li>
          <li>
            <a href="#">About Us</a>
          </li>
          <li>
            <a href="#">Our Services</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </div>


      <div id="login">
        <ul class="nav">

          <li>
            <a href="#">Login</a>
          </li>

        </ul>  
      </div>

    </div>
  </div>

  <div class="row">
    
    <div class="span12">

        <div class="row">
          <div class="span6">
            <h2>Welcome to Our Website</h2>

            <div class="content">
                
              <p>
                Lorem dynamicus aliquam Investigationes per diam. Velit typi insitam quis ullamcorper typi. Cum lorem mirum erat id velit. Dolore feugait id typi ea qui. Facit eodem dolore eorum commodo usus. Non legunt diam augue mirum te. Habent et qui veniam zzril litterarum. Nobis est wisi aliquam tincidunt te. 
              </p>

              <p>
                Doming qui id in nam est. Nam amet est ex dignissim processus. Futurum dolore velit eorum assum anteposuerit. Insitam iusto placerat saepius sed ex. 
              </p>

              <p>
                Gothica velit dolore in nisl augue. Imperdiet duis dolore gothica quod consequat. Lorem dynamicus aliquam Investigationes per diam. Velit typi insitam quis ullamcorper typi. Cum lorem mirum erat id velit. Dolore feugait id typi ea qui. Facit eodem dolore eorum commodo usus. Non legunt diam augue mirum te. Habent et qui veniam zzril litterarum. Nobis est wisi aliquam tincidunt te. 
              </p>



            </div>

          </div>
          <div class="span5 offset1">
            <aside>
              <h3>Some Things to Know</h3>
              <p>Nulla claritatem quinta at quam amet. Parum adipiscing eros legere delenit fiant. Quod ut vulputate iis adipiscing legunt. Lectorum doming qui enim sollemnes iriure. </p>
              <p>Nulla claritatem quinta at quam amet. Parum adipiscing eros legere delenit fiant. Quod ut vulputate iis adipiscing legunt. Lectorum doming qui enim sollemnes iriure. </p>
              <p>Nulla claritatem quinta at quam amet. Parum adipiscing eros legere delenit fiant. Quod ut vulputate iis adipiscing legunt. Lectorum doming qui enim sollemnes iriure. </p>
            </aside>  

          </div>
        </div>
        
    </div> 

  </div>

</div>
